**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*~
\#*#
.DS_STORE
.checkstyle
.classpath
.fbExcludeFilterFile
.idea/
.metadata/
.project
.settings/
dependency-reduced-pom.xml
target/
tests.log*
